# .gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Datadog Static Analysis
static-analysis.datadog.yml


# Other Files
*.log
*.bak
*.swp
*.tmp
*.gz
*.tgz
*.tar
